#checkbox {
    display: none;
}

.ham {
    display: none;
}

#checkbox:checked~.content {
    top: 15%
}
#checkbox:checked~.icons{
    top:75%
}

label {
    font-size: 2rem;
}

 @media screen and (max-width :650px) {
    .content {
        position: absolute;
        left: 0px;
        top: -500px;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        align-items: center;
        background-color: aliceblue;
        color: black;
    }

    .content , .icons>div:hover {
        color: rgb(212, 90, 69);
        cursor: pointer
    }

    .content>div {
        padding: 10px;
        transition: 1s ease;
    }

    .ham {
        display: block;
    }

}
@media screen and (max-width :650px) {
    .icons {
        position: absolute;
        left: 0px;
        top: -500px;
        height: 50px;
        width: 100%;
        display: flex;
        font-size: 1.2rem;
        color: black;
    }
}
